// Instructions: Copy to http-client.private.env.json. On the private file replace the values and remove this instructions line.

{
  "dev": {
  },
  "aws": {
    "user": "email@example.com",
    "password": "abcDefGhiJkl",
    "realAuthToken": "eyJraWQiOiJXZ3N.........................................."
  }
}